body {
    
    font-family: "PT Sans Narrow",sans-serif;
    font-size:14px;
    color:#000;
    font-weight: 700;
    line-height:24px;
    
}
h1{
    
    font-size: 30px;
    line-height:42px;
    
}
h2{
    font-size: 24px;
    line-height:30px;
    
}
.main-header{
    background-color: #000;
    
}
.main-header a{
    color:#fff;
text-decoration: none;
    
}
.footer-social{
    
    
}
.footer-social p{
     
}
.social{
    display: inline-block;
    width:30px;
    height: 30px;
    background: #000 50% 50% no-repeat;
    /*background-color:gray;
    background-position: 50% 50%;
    background-repeat: no-repeat;*/
    vertical-align: middle;
    margin-right: 10px;
}
.social-vk{
    background-image: url("../img/vk.png");
    
}
.social-fb{
    background-image: url("../img/facebook.png");
    
}
.social-inst{
    background-image: url("../img/inst.png");
    
}

